<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <Section Name="entityFramework" Type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, Visit http://go.microsoft.com/fwlink/?LinkId=237468 --></configSections>
  <connectionStrings>
    <add Name="MedicalTechnoEntities" connectionString="metadata=res://*/Context.MrReportingDb.csdl|res://*/Context.MrReportingDb.ssdl|res://*/Context.MrReportingDb.msl;provIder=System.Data.SqlClient;provIder connection string=&quot;data source=.;initial catalog=MedicalTechno;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" provIderName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory Type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter Value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <provIders>
      <provIder invariantName="System.Data.SqlClient" Type="System.Data.Entity.SqlServer.SqlProvIderServices, EntityFramework.SqlServer" />
    </provIders>
  </entityFramework>
</configuration>