<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            ×
        </button>
        <h4 class="modal-title" id="visitsAddEditLabel" data-bind="text: visitsAddEditLabel"></h4>
    </div>
    <div class="modal-body" data-bind="with: orderObject">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="agents" data-bind="text: $parent.language.agent[$parent.currentLanguage()]"></label>
                    <select id="agents" style="width: 100%" data-bind="options: $parent.agents, optionsText: 'contactName', optionsValue: 'id', value: agentId, optionsCaption: '', select2: { placeholder: $parent.language.selectValue[$parent.currentLanguage()], allowClear: true }"></select>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="types" data-bind="text: $parent.language.type[$parent.currentLanguage()]"></label>
                    <select id="types" style="width: 100%" data-bind="options: $parent.types, optionsText: 'title', optionsValue: 'id', value: orderTypeId, optionsCaption: '', select2: { placeholder: $parent.language.selectValue[$parent.currentLanguage()], allowClear: true }"></select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="visitees" data-bind="text: $parent.language.visitee[$parent.currentLanguage()]"></label>
                    <select id="visitees" style="width: 100%" data-bind="options: $parent.visitees, optionsText: 'name', optionsValue: 'id', value: orderTo, valueAllowUnset: true, optionsCaption: '', select2: { placeholder: $parent.language.selectValue[$parent.currentLanguage()], allowClear: true }"></select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="orderDate" data-bind="text: $parent.language.orderDate[$parent.currentLanguage()]"></label>
                    <input type="text" class="form-control" id="orderDate" data-bind="datepicker: orderDate, datepickerOptions: { format: 'dd/mm/yyyy', todayBtn: 'linked', autoclose: true }">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="estimateDate" data-bind="text: $parent.language.estimateDate[$parent.currentLanguage()]"></label>
                    <input type="text" class="form-control" id="estimateDate" data-bind="datepicker: estimateDate, datepickerOptions: { format: 'dd/mm/yyyy', todayBtn: 'linked', autoclose: true }">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="description" data-bind="text: $parent.language.subject[$parent.currentLanguage()]"></label>
                    <input type="text" class="form-control" id="subject" data-bind="value: subject, attr: { placeholder: $parent.language.subject[$parent.currentLanguage()] }">
                </div>
            </div>
            <div class="col-md-6">

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <!-- ko ifnot: isEdit -->
        <button type="button" data-loading-text="Saving..." class="btn btn-primary" data-bind="text: language.save[currentLanguage()], click: addVisit"></button>
        <!-- /ko -->
        <!-- ko if: isEdit -->
        <button type="button" data-loading-text="Saving..." class="btn btn-primary" data-bind="text: language.save[currentLanguage()], click: editVisit"></button>
        <!-- /ko -->
    </div>
</div>