<!-- RIBBON -->
<div id="ribbon">

    <span class="ribbon-button-alignment">
        <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-bind="attr: { 'data-original-title': resetWarning }" data-html="true">
            <i class="fa fa-refresh"></i>
        </span>
    </span>

    <!-- breadcrumb -->
    <ol class="breadcrumb">
        <li data-bind="text: language.pharmcy[currentLanguage()]"></li>
        <li data-bind="text: language.add[currentLanguage()]"></li>
    </ol>
    <!-- end breadcrumb -->

</div>
<!-- END RIBBON -->
<!-- MAIN CONTENT -->
<section id="content">
    <div class="row" data-bind="visible: !pharmcy()">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-cog fa-spin"></i> Loading...
            </h1>
        </div>
    </div>
    <section id="widget-grid">
        <!-- row -->
        <section class="row">
            <!-- SINGLE GRID -->
            <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget" data-widget-sortable="false" id="wid-id-0">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2 data-bind=" text:language.pharmcy[currentLanguage()] + ' - '"></h2>
                        <h2 data-bind=" text:language.goAdd[currentLanguage()]"></h2>
                    </header><!-- widget div-->

                    <div>
                        <!-- widget content -->
                        <div class="widget-body no-padding">
                            <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <form class="smart-form" id="AccountEditForm" data-bind="attr: { dir: $root.language.dir[$root.currentLanguage()]}" novalidate="novalidate">

                                    <fieldset data-bind="with: pharmcy">

                                        <div class="row">
                                            <section class="col col-6 col-sm-6 col-md-6 col-xs-6 col-lg-6">
                                                <label class="label" data-bind="text: $root.language.ContactName[$root.currentLanguage()]"></label>
                                                <label class="input">

                                                    <input type="text" class="form-control" id="userName" name="userName" data-bind="value: name,attr:{ placeholder: $root.language.UserName[$root.currentLanguage()]}" required>

                                                </label>
                                            </section>
                                            <section class="col col-6 col-sm-6 col-md-6 col-xs-6 col-lg-6">
                                                <label class="label" data-bind="text:$root.language.Address[$root.currentLanguage()]"></label>
                                                <label class="input">

                                                    <input type="text" class="form-control" id="Address" name="Address" data-bind="value: address" placeholder="Address..." required>

                                                </label>
                                            </section>

                                        </div>

                                        <div class="row">
                                            <section class="col col-6 col-sm-6 col-md-6 col-xs-6 col-lg-6">
                                                <label class="label" data-bind="text:$root.language.Telephone[$root.currentLanguage()]"></label>
                                                <label class="input">

                                                    <input type="text" class="form-control" id="Phone" name="Phone" data-bind="value: phone" placeholder="Phone..." required>

                                                </label>
                                            </section>
                                            <section class="col col-6 col-sm-6 col-md-6 col-xs-6 col-lg-6">
                                                <label class="label" data-bind="text:$root.language.email[$root.currentLanguage()]"></label>
                                                <label class="input">

                                                    <input type="text" class="form-control" id="Email" name="Email" data-bind="value: email" placeholder="Email..." required>

                                                </label>
                                            </section>
                                        </div>
                                        <div class="row">
                                            <section class="col col-6 col-sm-6 col-md-6 col-xs-6 col-lg-6">
                                                <label class="label" data-bind="text:$root.language.ownerPhone[$root.currentLanguage()]"></label>
                                                <label class="input">

                                                    <input type="text" class="form-control" id="ownerPhone" name="ownerPhone" data-bind="value: ownerPhone" placeholder="owner Phone..." required>

                                                </label>
                                            </section>
                                            <section class="col col-6 col-sm-6 col-md-6 col-xs-6 col-lg-6">
                                                <label class="label" data-bind="text:$root.language.ownerName[$root.currentLanguage()]"></label>
                                                <label class="input">

                                                    <input type="text" class="form-control" id="ownerName" name="ownerName" data-bind="value: ownerName" placeholder="owner Name..." required>

                                                </label>
                                            </section>
                                        </div>
                                        <div class="row">
                                            <section class="col col-6 col-sm-6 col-md-6 col-xs-6 col-lg-6">
                                                <label class="label" data-bind="text:$root.language.area[$root.currentLanguage()]"></label>
                                                <label class="select">
                                                    <select id="AreaId" name="AreaId" class="form-control" data-bind="value: $root.areaId, options: $root.areas, optionsText: 'title', optionsValue: 'id', optionsCaption: '-- Please Select a Area --' "></select><i></i>
                                                </label>
                                            </section>
                                        </div>

                                        <!--<div class="row">
                                            <section class="col col-6 col-sm-6 col-md-6 col-xs-6 col-lg-6">
                                                <label class="label" data-bind="text: 'No Of Visits'"></label>
                                                <label class="input">
                                                    <input type="text" class="form-control" name="NoOfVisits" id="NoOfVisits" data-bind="value: noOfVisits" placeholder="NoOfVisits / Month..." required>

                                                </label>
                                            </section>

                                            <section class="col col-6 col-sm-6 col-md-6 col-xs-6 col-lg-6">
                                                <label class="label" data-bind="text:$root.language.referenceCode[$root.currentLanguage()]"></label>
                                                <label class="input">
                                                    <input type="text" class="form-control" name="Code" id="Code" data-bind="value: code" placeholder="Code..." required>

                                                </label>
                                            </section>
                                        </div>-->

                                    </fieldset>

                                    <footer>
                                        <button type="submit" data-loading-text="addition..." data-bind="click: addpharmcy" class="btn btn-primary">
                                            Save
                                        </button>
                                    </footer>
                                </form>
                            </section>

                        </div>
                    </div><!-- end widget content -->
                </div><!-- end widget div -->
            </section><!-- end widget -->


        </section>
    </section>
</section>
