<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://medicalreporting.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>medicalreporting.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>medicalreporting</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$medicalreporting</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MedicalTechnoEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:i4i5u6slx9.database.windows.net,1433;Initial Catalog=medicalreporting_db;User ID=MedicalReps@i4i5u6slx9;Password=Medio_2015_Eg" Name="Data Source=tcp:i4i5u6slx9.database.windows.net,1433;Initial Catalog=medicalreporting_db;User Id=MedicalReps@i4i5u6slx9;Password=Medio_2015_Eg" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MR_Reporting_System_Data_Context.Context.MedicalTechnoEntities, MR Reporting System Data Context" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MedicalTechnoEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Context.MedicalTechnoEntities.csdl|res://*/Context.MedicalTechnoEntities.ssdl|res://*/Context.MedicalTechnoEntities.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:i4i5u6slx9.database.windows.net,1433;Initial Catalog=medicalreporting_db;User Id=MedicalReps@i4i5u6slx9;Password=Medio_2015_Eg"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>