<div id="content">
    <!-- RIBBON -->
    <div id="ribbon">
        <!-- breadcrumb -->
        <ol class="breadcrumb">

            <li data-bind="text: language.titleAccounts[currentLanguage()]"></li>
        </ol>
        <!-- end breadcrumb -->

    </div>
    <!-- END RIBBON -->


    <div class="fixed-action-btn" data-toggle="tooltip" data-placement="left" data-bind="attr: { title: language.addNew[currentLanguage()] }, click: add">
        <a class="btn-floating btn-large waves-effect red">
            <i class="mdi-content-add"></i>
        </a>
    </div>

    <div class="row">
        <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="widget-grid">
            <!-- row -->
            <div class="row">
                <!-- SINGLE GRID -->
                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="well jarviswidget no-padding" data-widget-sortable="false" id="wid-id-0">
                        <header data-bind="css: { rtlTable: language.rtl[currentLanguage()] }"></header><!-- widget div-->

                        <div>
                            <!-- widget content -->
                            <div class="widget-body" data-bind="css: { rtlTable: language.rtl[currentLanguage()] }" style="overflow-x: hidden">
                                <div class="row page-header-row">
                                    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <span class="page-header-text" style="font-family: Lato; color: rgb(37, 128, 247);" data-bind="text: language.configuration[currentLanguage()] + ' - '"></span>
                                        <span class="page-header-text" style="font-family: Lato; color: rgb(37, 128, 247);" data-bind="text: language.accounts[currentLanguage()]"></span>
                                        <button class="btn btn-trans btn-xs pull-right dropdown-toggle" id="exportDropdownMenu" data-toggle="dropdown">
                                            <i class="fa fa-gear fa-2x"></i>
                                        </button>
                                        <ul class="dropdown-menu pull-right" style="right: 15px;" role="menu" aria-labelledby="exportDropdownMenu">
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" data-bind="click: exportToExcel" href="javascript:void(0);">Excel</a>
                                            </li>
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" data-bind="click: exportToWord" href="javascript:void(0);">Word</a>
                                            </li>
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" data-bind="click: exportToPdf" href="javascript:void(0);">PDF</a>
                                            </li>
                                        </ul>
                                        <button id="fullscreen" class="btn btn-trans btn-trans-full btn-xs pull-right" data-action="launchFullscreen">
                                            <i class="fa fa-arrows-alt fa-2x"></i>
                                        </button>
                                    </article>
                                </div>

                                <hr />

                                <div data-bind="style: { visibility: !!(selectedRowId()) ? 'visible' : 'hidden' }">
                                    <a href="javascript:void(0);" class="pull-right" data-bind="click: deleteAccount">
                                        <i style="font-size: 1.6em; margin-right: 5px;" class="fa fa-trash-o"></i>
                                    </a>
                                </div>


                                <div class="gridStyle" id="accounts" data-bind="koGrid: gridOptions()"></div>

                                <div class="modal fade" id="addArea" tabindex="-1" role="dialog" aria-labelledby="addArea" aria-hidden="true" style="display: none;">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                    ×
                                                </button>
                                                <h4 class="modal-title" data-bind="visible: changeStatus()">ADd Areas</h4>

                                            </div>
                                            <div class="modal-body">
                                                <form class="smart-form" id="EPSFormTree" novalidate="novalidate">
                                                    <fieldset data-bind="with: dataSetArea">
                                                        <div class="row">
                                                            <section class="col col-6  col-xs-12">
                                                                <label class="label" data-bind="text: 'Area'"></label>
                                                                <label class="select">
                                                                    <select style="width: 100%;" multiple="multiple" data-bind="options: $parent.areas, optionsValue: 'id', optionsText: 'title', selectedOptions: agentAreas, select2: { placeholder: 'Select a area', allowClear: true }"></select>
                                                                </label>
                                                            </section>
                                                        </div>
                                                    </fieldset>
                                                </form>
                                            </div>
                                            <div class="modal-footer">

                                                <button type="submit" class="btn btn-primary" id="saveArea" data-bind="click: saveArea">
                                                    Edit
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal fade" id="addDrugs" tabindex="-1" role="dialog" aria-labelledby="addDrugs" aria-hidden="true" style="display: none;">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                    ×
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form class="smart-form" id="DrugsFormTree" novalidate="novalidate">
                                                    <fieldset data-bind="with: dataSetDrugs">
                                                        <div class="row">
                                                            <section class="col col-6  col-xs-12">
                                                                <label class="label" data-bind="text: 'Drugs'"></label>
                                                                <label class="select">
                                                                    <select style="width: 100%;" multiple="multiple" data-bind="options: $parent.drugs, optionsValue: 'id', optionsText: 'name', selectedOptions: agentDrugs, select2: { placeholder: 'Select a area', allowClear: true }"></select>
                                                                </label>
                                                            </section>
                                                        </div>
                                                    </fieldset>
                                                    <footer>
                                                        <button type="submit" class="btn btn-primary" id="saveDrugs" data-bind="click: $root.saveDrugs,">
                                                            Add
                                                        </button>
                                                    </footer>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div><!-- end widget div -->
                        </div><!-- end widget -->
                    </div>
                </article><!-- GRID END -->
            </div><!-- end row -->
        </section>
    </div>
</div>
<!-- END MAIN CONTENT -->
