<!-- HEADER -->
<header id="header" class="hidden-print">
    <div id="logo-group">
        <div id="hide-menu" class="btn-header" data-bind="style: { float: language.direction[currentLanguage()] }">
            <span> <a href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu"><i class="mdi-navigation-menu" style="font-size: 2.75rem;"></i></a> </span>
        </div>
        <span id="logo">
            <a href="#">
                <img src="../../img/procoor_logo_text.svg" alt="PROCOOR" />
            </a>
        </span>

        <span id="activity" class="activity-dropdown">
            <i class="fa fa-bell-o"></i>
            <b class="badge bounceIn animated">10</b>
        </span>


    </div>
    <!-- pulled right: nav area -->
    <div class="pull-right">

    </div>
    <!-- end pulled right: nav area -->

</header>
<!-- END HEADER -->
<!-- Left panel : Navigation area -->
<aside id="left-panel" class="hidden-print clearfix">

    <!-- User info -->
    <div class="login-info hidden">
        <span>
            <!-- User image size is adjusted inside CSS, it should stay as it -->

            <a href="javaScript:void(0);" id="show-shortcut" data-action="toggleShortcut">
                <img src="img/avatars/sunny.png" alt="me" class="online" />
                <span>
                    Ibrahim Amin
                </span>
                <i class="fa fa-angle-down"></i>
            </a>

        </span>
    </div>
    <!-- end user info -->

    <nav>
        <ul></ul>
    </nav>

    <span class="minifyme" data-action="minifyMenu">
        <i class="fa fa-arrow-circle-left hit"></i>
    </span>

</aside>
<!-- END NAVIGATION -->
<!-- MAIN PANEL -->
<div id="main" class="no-margin-print" role="main">
    <div class="row" data-part="content-menu" style="text-align: center;">
        <!-- ko compose: { model: currentModuleMenu } --><!-- /ko -->
    </div>
    <!-- ko router: { cacheViews: false, transition: 'entrance' } --><!-- /ko -->
</div>
<!-- END MAIN PANEL -->