<!-- HEADER -->
<header id="header" class="hidden-print">
    <div id="logo-group">
        <span id="logo">
            <a href="#">
                Medical Reporting System
            </a>
        </span>


    </div>
    <!-- pulled right: nav area -->
    <div class="pull-right">
        <div id="hide-menu" class="btn-header pull-right">
            <span> <a href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span>
        </div>
    </div>
    <!-- end pulled right: nav area -->

</header>
<!-- END HEADER -->
<!-- Left panel : Navigation area -->
<aside id="left-panel" class="hidden-print clearfix">

    <!-- User info -->
    <div class="login-info hidden">
        <span>
            <!-- User image size is adjusted inside CSS, it should stay as it -->

            <a href="javaScript:void(0);" id="show-shortcut" data-action="toggleShortcut">
                <img src="img/avatars/sunny.png" alt="me" class="online" />
                <span>
                    Medical
                </span>
                <i class="fa fa-angle-down"></i>
            </a>

        </span>
    </div>
    <!-- end user info -->


    <nav>
        <ul>
            <li>
                <a href="javaScript:void(0);">
                    <i class="fa fa-lg fa-fw fa-wrench"></i>
                    <span class="menu-item-parent" data-bind="text: 'Admin'"></span>
                </a>
                <ul data-bind="foreach: router.navigationModel">
                    <!-- ko if: !!($data.settings) && !!(settings.admin) -->
                    <li data-bind="css: { active: isActive }">
                        <a data-bind="attr: { href: hash }">
                            <span data-bind="text: title"></span>
                        </a>
                    </li>
                    <!-- /ko -->
                </ul>
            </li>

            <li>
                <a href="javaScript:void(0);">
                    <i class="fa fa-lg fa-fw fa-briefcase"></i>
                    <span class="menu-item-parent" data-bind="text: 'Daily'"></span>

                </a>
                <ul>

                    <!-- ko foreach: router.navigationModel -->
                    <!-- ko if: !!($data.settings) && !!(settings.daily) -->
                    <li data-bind="css: { active: isActive }">
                        <a data-bind="attr: { href: hash }">
                            <span data-bind="text: title"></span>
                        </a>
                    </li>
                    <!-- /ko -->
                    <!-- /ko -->
                </ul>

            </li>

            <li>
                <a href="javaScript:void(0);">
                    <i class="fa fa-lg fa-fw fa-pie-chart"></i>
                    <span class="menu-item-parent" data-bind="text: 'Reports'"></span>
                </a>
                <ul data-bind="foreach: router.navigationModel">
                    <!-- ko if: !!($data.settings) && !!(settings.reports) -->
                    <li data-bind="css: { active: isActive }">
                        <a data-bind="attr: { href: hash }">
                            <span data-bind="text: title"></span>
                        </a>
                    </li>
                    <!-- /ko -->
                </ul>
            </li>

        </ul>
    </nav>


    <span class="minifyme" data-action="minifyMenu">
        <i class="fa fa-arrow-circle-left hit"></i>
    </span>

</aside>
<!-- END NAVIGATION -->
<!-- MAIN PANEL -->
<div id="main" class="no-margin-print" role="main">
    <div class="row" data-part="content-menu" style="text-align: center;">
        <!-- ko compose: { model: currentModuleMenu } --><!-- /ko -->
    </div>
    <!-- ko router: { cacheViews: false, transition: 'entrance' } --><!-- /ko -->
</div>
<!-- END MAIN PANEL -->